* {
    box-sizing: border-box; /*garantiza que el padding y el border de cada elemento estén dentro del ancho del elemento*/
    background-color: #DBDBEE;
    font-family: 'Josefin Sans', sans-serif;    
}

.col-1 {width: 8.33;} /*esta clase me da el ancho de columna para establecer el ancho de los elementos*/

header {
    display: block;
    position: relative;
    top: 0px;
    width: 70;
    height: 75px;
    background-color: #48487A;
}

footer {
    display: block;
    bottom: 20px;
    width: 70;
    height: 50px;
    background-color: #48487A;
}

h1 {
    color: white;
    background-color: #48487A;
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 10px;
    background-color: #48487A;
}

.lista {
    background-color: #68689A;
}

#foto {
    margin: 50px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    border: 1px solid white;
    background-position: 50%;
    border-radius: 50%;
}

#contenedor1 {
    position: static;
    width: 100%;
    float: right;
    padding-left: 10px;
}

#contenedor2 {
    position: static;
    left: 0px;
    width: 100%;
    float: left;
    background-color: #68689A;
}

input {
    color: white;
    background-color: #68689A;
}

.solapa{
    width: 97%;
    color: white;
    background-color:  #68689A;
    padding: 10px;
}

.listasDesplegables {
    width: 50%;
    padding: 10px;
    border: 3px solid;
    border-radius: 10px;
    background-color: #68689A;
    color: white;
    text-align: center;
}

.botones {
    padding: 10px;
    border: 5px; 
    color: white; 
    background-color: #68689A; 
    border: solid;
    border-color: white; 
    border-radius: 10px;
}

summary {
    list-style: none;
}

.botones {
    padding: 10px;
    border: 5px; 
    color: white; 
    background-color: #68689A; 
    border: solid;
    border-color: white; 
    border-radius: 10px;
}

.listDiv {
    display: inline;
    margin: 0px;
    width: 300px;
}

#carta {
    font-size: 25px;
    font-weight: bold;
}

.parrafo {
    text-indent: 20px;
    text-align: justify;
    font-size: 18px;
}

#contenedorParrafo {
    width: 97%;
}

#decorasao {
    
    width: 0px;
    height: 0px;
}
#cuerpo2 {
    width: 0px;
    height: 0px;
}
